



* {
    padding: 0;
    margin: 0;
}


#title {
    background-color: tomato;
    padding: 5rem;

    color: aliceblue;
}

.card {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 7rem;

    transition: all .325s ease; 
}

.card-header {
    background-color: #8FBDD3;
}

.card:hover {
    transform: scale(1.2);
    transition: all .325s ease; 
}